@use "src/styles/theme";
@use "src/styles/variables";

.Container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;

  .Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 12px;
    box-sizing: border-box;

    .EndButtons {
      display: flex;
      align-items: center;
      gap: 24px;

      .CloseButton {
        color: theme.$grey10;
        height: 38px;
        width: 38px;
        background: transparent;
        border: 1px solid transparent;
        outline: none;

        &:hover,
        &:focus-within {
          color: theme.$primary03;
          font-weight: 500;
          border: 1px solid theme.$primary03;
          border-radius: 19px;
          box-sizing: border-box;
        }

        &:disabled {
          color: theme.$grey05;
          font-weight: 500;
          cursor: not-allowed;
          border-radius: 19px;
          box-sizing: border-box;

          &:hover,
          &:focus-within {
            font-weight: 500;
            border: 1px solid theme.$grey05;
            border-radius: 19px;
            box-sizing: border-box;
          }
        }
      }

      .TranscriptionGuideButton {
        position: relative;
        left: 10px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 16px;
        font-style: italic;
        color: theme.$primary03;
        outline: none;
        height: 38px;
        border: 1px solid transparent;
        background: transparent;

        &:hover,
        &:focus-within {
          text-decoration: underline;
        }
      }
    }

    .Control {
      width: 235px;

      &:hover,
      &:focus-within {
        border-color: theme.$primary05;
        box-shadow: none;
      }
    }

    .Menu {
      z-index: 3;
    }
  }

  .Content {
    height: calc(100% - 50px);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
