@use "src/styles/theme";
@use "src/styles/variables";

.Container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    .TranscriptionGuideButton {
      position: absolute;
      right: 50px;
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      font-size: 16px;
      font-style: italic;
      color: theme.$primary03;
      outline: none;
      height: 38px;
      border: 1px solid transparent;
      background: transparent;

      &:hover,
      &:focus-within {
        text-decoration: underline;
      }
    }

    .Control {
      width: 200px;

      &:hover,
      &:focus-within {
        border-color: theme.$primary05;
        box-shadow: none;
      }
    }

    .Menu {
      z-index: 3;
    }
  }

  .Content {
    height: calc(100% - 50px);
    position: relative;
    width: 100%;
  }
}
