@use '@styles/theme';
@use '@styles/variables';

.Tooltip {
  position: relative;
  display: inline-block;

  &:hover,
  &:focus-within {
    > svg {
      stroke: theme.$primary03;
    }
  }
}

.Tooltip .TooltipText {
  visibility: hidden;
  width: 300px;
  font-size: 14px;
  background-color: theme.$grey00;
  color: theme.$grey10;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 12px;
  position: absolute;
  z-index: 10;
  top: 125%;
  left: 50%;
  margin-left: -250px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 2px 2px rgb(130 130 130 / 100%);

  .Link {
    font-weight: 400;
    color: theme.$primary03;
    text-decoration: none;

    &:hover,
    &:focus-within {
      text-decoration: underline;
    }
  }
}

.Tooltip .TooltipText::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 250px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent theme.$grey00 transparent;
  filter: drop-shadow(0 -2px -2px rgb(130 130 130 / 100%));
}

.Tooltip:hover .TooltipText {
  visibility: visible;
  opacity: 1;
}

.Tooltip:focus-within .TooltipText {
  visibility: visible;
  opacity: 1;
}

.Container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;

  .Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 12px;
    box-sizing: border-box;

    .EndButtons {
      display: flex;
      align-items: center;
      gap: 8px;

      .IconButton {
        position: relative;
        top: 1px;
        height: 38px;
        width: 38px;
        background: transparent;
        border: none;
        outline: none;

        > svg {
          stroke: theme.$grey10;
        }

        &:hover,
        &:focus-within {
          > svg {
            stroke: theme.$primary03;
          }
        }

        &:disabled {
          cursor: not-allowed;

          > svg {
            stroke: theme.$grey05;
          }
        }
      }

      .TranscriptionGuideButton {
        position: relative;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 16px;
        font-style: italic;
        color: theme.$primary03;
        outline: none;
        height: 38px;
        border: 1px solid transparent;
        background: transparent;

        &:hover,
        &:focus-within {
          text-decoration: underline;
        }
      }
    }

    .Control {
      width: 235px;

      &:hover,
      &:focus-within {
        border-color: theme.$primary04;
        box-shadow: none;
      }
    }

    .Menu {
      z-index: 3;
    }

    .Option {
      &:active {
        color: theme.$grey00;
      }
    }
  }

  .Content {
    height: calc(100% - 50px);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
