@use '@styles/variables';

.PageWrapper {
  width: 100vw;
  height: calc(100% - variables.$headerHeight - variables.$footerHeight - 16px);
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  box-sizing: border-box;
  overflow-y: auto;
}
