/*
 *
 * Some of the hex colours are also used in the config.ts
 * file that styles Mirador viewer
 *
 */

$primary02: #0099b8;
$primary03: #00667a;
$primary04: #00333d;
$grey00: #fbfafb;
$grey01: #f3f3f3;
$grey02: #d6d6d6;
$grey03: #c2c2c2;
$grey04: #adadad;
$grey05: #999;
$grey06: #858585;
$grey07: #707070;
$grey08: #5c5c5c;
$grey09: #474747;
$grey10: #111;
$error: #dc3545;
