@use "@styles/theme";

.GuideText {
  width: 100%;
  margin: 6px auto;
  color: theme.$grey10;
  font-size: 16px;
  text-align: justify;
  text-indent: 24px;
  letter-spacing: 0.03em;

  @media (width < 1024px) {
    font-size: 14px;
  }

  .Link {
    color: theme.$primary03;
    margin-bottom: 0;

    &:hover,
    &:focus {
      color: theme.$primary04;
      outline: none;
      cursor: pointer;
    }

    &:hover {
      transition: 500ms ease;
    }
  }
}

.H1 {
  font-size: 32px;
  font-weight: 600;
  color: theme.$primary03;
  text-align: center;
  padding: 12px 0;
  margin: 0;
  border-bottom: 1px solid theme.$grey03;
}

.H2 {
  font-size: 24px;
  font-weight: 600;
  color: theme.$grey10;
  text-align: left;
  margin: 6px 0 6px 12px;
}

.Container {
  height: 100%;
  overflow: hidden;

  @media (width < 800px) {
    margin: 6px auto;
  }

  .GuideBody {
    display: flex;
    flex-direction: column;
    height: calc(100% - 73px - 12px);
    padding: 12px 24px 24px;
    overflow-y: auto;
  }
}

.Row {
  min-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  .SymbolCell {
    min-width: 100px;
    display: flex;
    justify-content: center;

    @media (width < 800px) {
      min-width: 50px;
    }
  }
}
