@use "src/styles/theme";

.Container {
  margin: 30px auto;
  width: 70%;
  color: theme.$grey08;

  @media (width < 1280px) {
    width: 80%;
    margin: 24px auto;
  }

  @media (width < 1100px) {
    width: 90%;
    margin: 18px auto;
  }

  @media (width < 800px) {
    margin: 6px auto;
  }

  .GuideText {
    width: "100%";
    margin: 6px auto;
    font-size: 16px;
    text-align: justify;
    text-indent: 24px;
    letter-spacing: 0.03em;

    @media (width < 1024px) {
      font-size: 14px;
    }
  }

  .H1 {
    font-weight: 600;
    color: theme.$secondary03;
    text-align: center;
  }

  .H2 {
    font-weight: 600;
    color: theme.$grey10;
    text-align: left;
  }

  .H3 {
    font-weight: 500;
    color: theme.$grey10;
    text-align: left;
    font-style: italic;
  }
}

.Row {
  min-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  .SymbolCell {
    min-width: 50px;
    display: flex;
    justify-content: center;
  }
}
