@use "@styles/theme";
@use "@styles/variables";

.WorkspacePageWrapper {
  width: 98vw;
  height: calc(100% - variables.$headerHeight - variables.$footerHeight - 8px);
  display: flex;
  flex-direction: column;
  margin: 0 auto 8px;
  box-sizing: border-box;
  overflow-y: hidden;

  .Rotate {
    display: none;
    color: theme.$primary03;
    text-align: center;

    @media (orientation: portrait) {
      display: flex;
      margin: auto;
      flex-direction: column;
      gap: 24px;
    }

    .Image {
      margin: auto;
      width: 70%;
    }
  }

  .ContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (orientation: portrait) {
      display: none;
    }

    .Header {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      gap: 12px;
      z-index: 2;

      .Button {
        position: relative;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        color: theme.$grey10;
        height: 38px;
        border: 1px solid theme.$grey03;
        box-sizing: border-box;
        border-radius: 6px;
        outline: none;
        padding: 4px 8px;
        font-size: 16px;
        cursor: pointer;
        background: theme.$grey00;

        @media (width < 850px) {
          display: none;
        }

        &.Add {
          width: 100px;
          text-wrap: nowrap;

          @media (width < 950px) {
            display: none;
          }
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 4px;
          background: theme.$primary04;
          top: 0;
          left: 0;
          z-index: -1;
          transform: scaleX(0);
          transition:
            background 0.5s,
            transform 0.5s,
            opacity 0.5s ease-in;
        }

        &::before {
          left: -30%;
        }

        &::after {
          right: -30%;
        }

        &:disabled {
          border-color: theme.$grey03;
          color: theme.$grey04;
          cursor: not-allowed;
        }

        &:hover:not([disabled])::after,
        &:focus-visible:not([disabled])::after,
        &:active:not([disabled])::after {
          transform: scale(1);
        }

        &:hover:not([disabled]),
        &:focus-visible:not([disabled]),
        &:active:not([disabled]) {
          color: theme.$grey00;
          border-color: theme.$primary04;
          transform: translateY(0);
          transition: border-color 1s;
        }
      }

      .Control {
        width: 300px;

        &:hover,
        &:focus-within {
          border-color: theme.$primary04;
          box-shadow: none;
        }
      }

      .Menu {
        z-index: 3;
      }
    }

    .DisplayWrapper {
      border-top: 1px solid theme.$grey03;
      display: flex;
      height: 100%;
      width: 100%;
      z-index: 1;
      gap: 4px;
    }
  }
}

.Label {
  display: flex;

  .Folio {
    width: 50px;
  }
}

.GuideModal {
  width: 50%;
  height: 80%;

  @media (width <= 1200px) {
    width: 70%;
  }

  @media (width <= 800px) {
    width: 95%;
  }
}
