@use "src/styles/theme";
@use "src/styles/variables";

.WorkspacePageWrapper {
  width: 98vw;
  height: calc(100% - variables.$headerHeight - variables.$footerHeight - 8px);
  display: flex;
  flex-direction: column;
  margin: 0 auto 8px;
  box-sizing: border-box;
  overflow-y: hidden;

  .Rotate {
    display: none;
    color: theme.$primary03;
    text-align: center;

    @media (width <= 1024px) and (orientation: portrait) {
      display: flex;
      margin: auto;
      flex-direction: column;
      gap: 24px;
    }

    .Image {
      width: 500px;
      height: 500px;
    }
  }

  .ContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .Header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      gap: 12px;

      .Button {
        position: relative;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: theme.$grey10;
        height: 38px;
        width: 60px;
        border: 1px solid theme.$grey03;
        box-sizing: border-box;
        border-radius: 6px;
        outline: none;
        padding: 4px 8px;
        font-size: 16px;
        cursor: pointer;
        background: theme.$grey00;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 4px;
          background: theme.$primary04;
          top: 0;
          left: 0;
          z-index: -1;
          transform: scaleX(0);
          transition:
            background 0.5s,
            transform 0.5s,
            opacity 0.5s ease-in;
        }

        &::before {
          left: -30%;
        }

        &::after {
          right: -30%;
        }

        &:disabled {
          border-color: theme.$grey03;
          color: theme.$grey04;
          cursor: not-allowed;
        }

        &:hover:not([disabled])::after,
        &:focus-within:not([disabled])::after,
        &:active:not([disabled])::after {
          transform: scale(1);
        }

        &:hover:not([disabled]),
        &:focus-within:not([disabled]),
        &:active:not([disabled]) {
          color: theme.$grey00;
          border-color: theme.$primary05;
          transform: translateY(0);
          transition: border-color 1s;
        }
      }

      .TranscriptionGuideButton {
        position: absolute;
        right: 50px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 16px;
        font-style: italic;
        color: theme.$primary03;
        outline: none;
        height: 38px;
        border: 1px solid transparent;
        background: transparent;

        &:hover,
        &:focus-within {
          text-decoration: underline;
        }
      }

      .Control {
        width: 300px;

        &:hover,
        &:focus-within {
          border-color: theme.$primary05;
          box-shadow: none;
        }
      }

      .Menu {
        z-index: 3;
      }
    }

    .DisplayWrapper {
      display: flex;
      height: calc(100% - 50px);

      .MiradorWrapper {
        width: 55%;
        height: 100%;
        position: relative;

        @media ((width <= 1024px) and (orientation: portrait)) or ((width < 1024px) and (orientation: landscape)) {
          display: none;
        }
      }

      .PDFViewer {
        display: flex;
        width: 45%;

        @media ((width <= 1024px) and (orientation: portrait)) or ((width < 1024px) and (orientation: landscape)) {
          display: none;
        }
      }
    }
  }
}

.Label {
  display: flex;

  .Folio {
    width: 50px;
  }
}

.GuideModal {
  width: 50%;
  height: 80%;
  overflow: auto;
  padding: 12px;
  box-sizing: border-box;
}
