@use "src/styles/theme";
@use "src/styles/variables";

.AppWrapper {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  height: 100vh;
  padding-bottom: 40px;
  background-color: theme.$grey00;
  border-top: 5px solid theme.$primary03;
  box-sizing: border-box;

  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    @media (width <= 1024px) {
      padding: 10px 30px;
    }

    @media (width <= 800px) {
      padding: 10px 20px;
    }

    .Brand {
      color: theme.$primary03;
      font-size: 24px;
      font-style: italic;
      letter-spacing: 0.2rem;
      text-decoration: none;

      @media (width <= 600px) {
        font-size: 20px;
      }
    }

    .NavButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 24px;

      .NavLink {
        text-decoration: none;
        color: theme.$primary03;
        background: transparent;
        font-weight: 400;
        vertical-align: top;
        height: 38px;
        border: none;
        padding: 0;
        font-size: 16px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          background-color: theme.$primary04;
          height: 2px;
          bottom: 0;
          transform-origin: 100% 50%;
          transform: scaleX(0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover,
        &:focus-within {
          color: theme.$primary04;
          font-weight: 600;
        }

        &:focus-within {
          outline: none;
        }

        &:hover::before,
        &:focus-within::before {
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }
      }
    }
  }

  .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid theme.$primary03;
    gap: 12px;
  }
}

.VerticalDivider {
  height: 20px;
  width: 1px;
  background: theme.$primary03;
}

.CopyrightText {
  color: theme.$primary03;
}

.Link {
  color: theme.$primary03;
  text-decoration: none;
  padding: 0;
  font-size: 16px;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$primary05;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}
