@use "src/styles/theme";
@use "src/styles/variables";

.Container {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #fff;

  .Loading {
    min-height: 100%;
    min-width: 100%;
    background-color: theme.$grey00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-style: italic;
  }
}

.Controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  bottom: variables.$footerHeight;
  display: flex;
  justify-content: center;
  gap: 12px;

  .Button {
    outline: none;
    border: none;
    background: transparent;
  }
}
